<div>
  <header>
    <div class="mx-auto px-4 py-8">
      <div class="flex items-center justify-end">
        <% if user_signed_in? %>
        <div class="flex">
          <%= link_to 'ログアウト', destroy_user_session_path, data: {
          turbo_method: :delete}, class: "block rounded-md bg-gray-100 px-5
          py-2.5 mx-3 text-sm font-medium text-teal-500 transition
          hover:text-teal-500/75" %>
        </div>
        <% else %>
        <div class="flex">
          <%= link_to 'ログイン', new_user_session_path, class: "block
          rounded-md bg-gray-100 px-5 py-2.5 mx-3 text-sm font-medium
          text-teal-500 transition hover:text-teal-500/75" %> <%= link_to
          '新規登録', new_user_registration_path, class: "block rounded-md
          bg-gray-100 px-5 py-2.5 mx-3 text-sm font-medium text-teal-500
          transition hover:text-teal-500/75" %>
        </div>
        <% end %>
      </div>
    </div>
  </header>
  <main class="container mx-auto mt-28 px-5 flex">
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
    <div
      class="fixed bottom-8 right-8 rounded-full w-24 py-9 bg-teal-500 text-white text-center transition hover:bg-teal-500/75"
    >
      新規作成
    </div>
  </main>
</div>
