<main class="container mx-auto mt-16 px-5">
  <p><%= @user_name %>さんのクーポン一覧</p>
  <% @vouchers.each do |voucher| %>
  <div class="">
    <div class="mt-4">
      <div class="font-medium text-gray-900">クーポン名</div>
      <div class="text-gray-700"><%= voucher.title%></div>
    </div>
    <% if voucher.code_text.present? %>
    <div class="mt-4">
      <div class="font-medium text-gray-900">クーポン（コード）</div>
      <div class="text-gray-700"><%= voucher.code_text %></div>
    </div>
    <% else %>
    <div class="mt-4">
      <div class="font-medium text-gray-900">クーポン（URL）</div>
      <div class="text-gray-700"><%= voucher.code_url %></div>
    </div>
    <% end %>
  </div>
    </div>
  <% end %>

</main>
